{% extends "base.html" %} {% block title %} 修改付款单 {% endblock%} {% block body %} {{ block.super }} {% load el_pagination_tags %}


    <!--<link href="/Public/css/jquery-ui-1.10.0.custom.css" rel="stylesheet" media="screen">-->
    <!--<script src="/Public/js/jquery-ui-1.9.2.custom.min.js"></script>-->
    <script src="/Public/js/jquery.ui.datepicker-zh-CN.js"></script>

    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">

    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


    <script>
        $(function () {
            //供应商名字标签,自动完成
            obj = {{supplier_name | safe}};
            var nameTags = new Array();
            
            for (var i = 0; i < obj.length; i++) {     
                nameTags[i] = obj[i].supplier_name;
            }

            $("#supplier_name").autocomplete({
                source: nameTags
            });

            obj = {{company_name | safe}};
            var nameTags2 = new Array();
            
            for (var i = 0; i < obj.length; i++) {     
                nameTags2[i] = obj[i].company_name;
            }

            $("#company_name").autocomplete({
                source: nameTags2
            });
        });
    </script> 
            
<script>
$(function () {
    obj = {{result | safe}};
        //实时更新供应商开户行等信息
    $("#supplier_name,#company_name").keydown(function(event){
            company_name = $("#company_name").val();
            supplier_name = $("#supplier_name").val(); 
            result = obj[supplier_name][company_name];
            $("#bank_of_deposit").val("");
            $("#bank_account").val("");
            $("#payment_date").val("");
            $("#closing_date").val("");
            $("#expiring_date").val("");

            $("#bank_of_deposit").val(result['bank_of_deposit']);
            $("#bank_account").val(result['bank_account']);
            $("#payment_date").val(result['payment_date']);
            $("#closing_date").val(result['closing_date']);
    });
    $("#amount_in_figures").on('input', function (e){        
        amount_in_figures = $("#amount_in_figures").val();
        a=DX(amount_in_figures)
        console.log(amount_in_figures);
        $("#amount_in_words").val(a);
    });
        // $("#supplier_name,#company_name").on('input', function (e) {
        // });
});
</script>
    <script>  
//JS 数字转换为大写金额
    function DX(n) {

    if (!/^(0|[1-9]\d*)(\.\d+)?$/.test(n))
      return "数据非法";
    var unit = "千百拾亿千百拾万千百拾元角分", str = "";
      n += "00";
    var p = n.indexOf('.');
    if (p >= 0)
      n = n.substring(0, p) + n.substr(p+1, 2);
      unit = unit.substr(unit.length - n.length);
    for (var i=0; i < n.length; i++)
      str += '零壹贰叁肆伍陆柒捌玖'.charAt(n.charAt(i)) + unit.charAt(i);
    return str.replace(/零(千|百|拾|角)/g, "零").replace(/(零)+/g, "零").replace(/零(万|亿|元)/g, "$1").replace(/(亿)万|壹(拾)/g, "$1$2").replace(/^元零?|零分/g, "").replace(/元$/g, "元整");
}
    </script> 
    <script>
        $(function () {
            $("#planed_date").datepicker();
            var val = 'yy-mm-dd';
            $("#planed_date").datepicker("option", "dateFormat", val);
        });
    </script>
    <style>

    </style>
</block>

<block name="content">

    <div class="container">
        <div class="page-header">
            <h2 align="center">
                修改付款单
            </h2>
        </div>

        <div class=" panel panel-success" id="printArea">
            <div class="panel-heading"><strong>新增信息</strong></div>
            <br/>
            <div class="container-fluid ">
            <div class="row">
                <form method='POST' action="/payment/editHandle/" class="">
                    id:<input type="text" style="display:none;" readonly name="id" value="{{data.id}}">
                    <input type="text" name="max_num" readonly value="{{data.max_num}}">
                    <div class="form-group col-xs-12">
                        <label for="company_name" class="col-xs-2 control-label">所属公司</label>

                        <div class="col-xs-3 ui-widget">
                                         <input type="text" class="form-control" name="company_name"
                                       id="company_name" placeholder="" value="{{data.company_name}}">

                          
                        </div>

                        <label for="bank_of_deposit" class="col-xs-1 control-label">开户行</label>
                        <div class="col-xs-3 ">
                            <input type="text" class="form-control " name="bank_of_deposit" id="bank_of_deposit" placeholder="" value="{{data.bank_of_deposit}}">

                        </div>
                        <label for="record_date" class="col-xs-1 control-label">登记日期</label>
                        <div class="col-xs-2">
                            <input type="text" class="form-control" name="record_date"
                                       id="record_date" readonly placeholder="" value="{{data.record_date|date:"Y-m-d"}}">
                    
                        </div>

                        </div>
                                                <div class="form-group col-xs-12">
                                <label for="acceptance_bill" class="col-xs-2 control-label">承兑汇票</label>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" name="acceptance_bill"
                                       id="acceptance_bill" placeholder="" value="{{data.acceptance_bill}}">
                            </div>

                            <label for="cheque" class="col-xs-2 control-label">支票/网银</label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" name="cheque"
                                       id="cheque" placeholder=""
                                       value="{{data.cheque}}">
                            </div>
                            <label for="cash" class="col-xs-1 control-label">现金</label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" name="cash"
                                       id="cash" placeholder=""
                                       value="{{data.cash}}">
                            </div>     
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="belong_to" class="col-xs-2 control-label">收款人</label>

                            <div class="col-xs-3 ">
                      <input type="text" class="form-control " name="supplier_name" id="supplier_name" placeholder="" value="{{data.supplier_name}}">

                            </div>

                            <label for="bank_account" class="col-xs-1 control-label">银行账号</label>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" name="bank_account"
                                       id="bank_account" placeholder="" value="{{data.bank_account}}">
                            </div>
                                                   <label for="document_num" class="col-xs-1 control-label">单据号</label>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" name="document_num"
                                       id="document_num" placeholder="" value="{{data.document_num}}">
                            </div>
                           
                        </div>
                        <div class="form-group col-xs-12">
                             <label for="planed_date" class="col-xs-1 control-label">金额</label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" name="amount_in_figures"
                                       id="amount_in_figures" placeholder="" value="{{data.amount_in_figures}}">
                            </div>
                            <label for="amount_in_words" class="col-xs-2 control-label">大写金额</label>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" name="amount_in_words"
                                       id="amount_in_words" placeholder="" value="{% if data.amount_in_words %}{{data.amount_in_words}}{%endif%}">
                            </div>     
                                                    <label for="payment_date" class="col-xs-1 control-label">付款期限</label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" name="payment_date"
                                       id="payment_date" placeholder=""{%if data.payment_date%}
                                       value="{{data.payment_date }}" {%endif%}>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="transfer_finance" class="col-xs-1 control-label">实际收票日</label>
                            <div class="col-xs-2">
                                  <td>
                                            <div class="input-group date col-md-5" id="transfer_financetime{{k.id}}">
                            <input style="width:110px"class="form-control form_datetime" type="text" name="transfer_finance" id="transfer_finance{{data.id}}" {%if data.transfer_finance%}value="{{data.transfer_finance|date:"Y-m-d"}}" {%endif%}/>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove" onclick="$('#transfer_finance{{data.id}}').val('')"></span></span>
                      <script type="text/javascript">
    $('.form_datetime').datetimepicker({
        format: 'yyyy-mm-dd',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        minView: "month",
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        language: 'zh-CN',
    });
</script>
                        </div>

            </td>  </div>
                                                        <label for="closing_date" class="col-xs-2 control-label">货期</label>
                            <div class="col-xs-2">
                                <input type="text" class="form-control" name="closing_date"
                                       id="closing_date" placeholder="" value="{% if data.closing_date %}{{data.closing_date}}{%endif%}">
                            </div>
                                                       <label for="quality_deduction" class="col-xs-2 control-label">到期日</label>
                            <div class="col-xs-3">
                                <input type="text" class="form-control" name="expiring_date"
                                       id="expiring_date" placeholder="" value="{% if data.expiring_date %}{{data.expiring_date|date:"Y-m-d"}}{%endif%}">
                            </div>
                        </div>

                  
                            <!--
                        <div class=" form-group col-xs-12">

                            <label for="remark" class="col-xs-2 control-label">备注</label>
                            <div class="col-xs-10">
                                    <textarea type='text' class="form-control" name="remark"
                                              id="remark"
                                              rows="3">{{data.remark}}</textarea>
                            </div>
                        </div>-->
                            <div class="col-xs-2">
                                <input type="submit" name="submit" value="提交">
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}}