{% extends "base.html" %} {% block body %} {{ block.super }}

{% load staticfiles %}
<script src="{% static 'js/_updateSupplier.js' %}  "></script>

<div class="container">
        <div class="page-header">
            <h2 align="center">备选供应商信息</h2>
        </div>
        <br/>

        <div class=" panel panel-success">
            <div class="panel-heading"><strong>备选供应商信息</strong></div>
            <br/>
            <div class="container-fluid ">
                <div class="row">
                    <form method='POST' class=" col-xs-5" action="">
                        <div class="input-group btn-group">
                            <div class="dropdown input-group-btn">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    供应商类别
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <!--<li><a href="#">Action</a></li>-->
                                    <!--<li><a href="#">Another action</a></li>-->
                                    <!--<li><a href="#">Something else here</a></li>-->
                                    <!--<li><a href="#">Separated link</a></li>-->
                                </ul>
                            </div>
                            <div class="input-group">
                                <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
                                <input name="searchText" class="form-control " type="text" placeholder="输入供应商名称或者物资">
                                     <span class="input-group-btn ">
                                  <input type="submit" class="button btn btn-success " value="搜索">
                                  </span>
                            </div>

                        </div>
                    </form>
                    <div class="col-xs-1">
                        <button class="btn btn-active"
                                onclick="addOptionalNew('../addNewOptionalSupplier')">新增供应商
                        </button>
                    </div>

                    <div class="col-xs-2 col-md-1">
                        <button class="btn btn-warning  " onclick="updateOptionalAll('../updateAllOptional/')">
                            更新数据
                        </button>
                    </div>
                </div>
            </div>
            <br/>

            <div class="container-fluid ">
                <div class="row">
                    <div class="col-xs-4 col-md-4" style=" height:440px; overflow:scroll;">
                        <table class="table  table-bordered table-responsive table-hover ">
                            <tr>
                                <th class="alert-info"> 供应商名称</th>
                            </tr>
                            {%for vo in data%}
                                <tr onclick="infoOptional('{{vo.id}}','{% url 'supplierList:infoOptional' vo.id%}')">
                                    <td>{{vo.supplier_name}}</td>
                                </tr>
                            {%endfor%}
                        </table>

                    </div>
                    <div class="col-xs-6 col-md-6">
                        <ul id="myTab" class="nav nav-tabs alert-info">
                            <li class="active ">
                                <a href="#supplier" data-toggle="tab">供应商信息</a>
                            </li>


                            <li><a href="#contactInfo" data-toggle="tab">联系人信息</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="supplier">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <br/>
                                        <div>
                                            <input type="text" hidden="hidden" style="display:none" readonly="true"
                                                   class="form-control" name="supplier_id"
                                                   id="supplier_id" placeholder="">
                                        </div>

                                        <label for="supplier_name" class="col-sm-3 control-label">供应商名称</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="supplier_name"
                                                   id="supplier_name" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="material_name" class="col-sm-3 control-label">供应物资</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="material_name"
                                                   id="material_name" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="supplier_class" class="col-sm-3 control-label">供应商类别</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="supplier_class"
                                                   id="supplier_class" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="supplier_class" class="col-sm-3 control-label">文件位置</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="file_location"
                                                   id="file_location" placeholder="类似BXL2016-1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="review_result" class="col-sm-3 control-label">网址</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="website"
                                                   id="website" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="supplier_class" class="col-sm-3 control-label">来源</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="source" id="source"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="supplier_class" class="col-sm-3 control-label">登记日期</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="record_date"
                                                   id="record_date" placeholder="" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="supplier_class" class="col-sm-3 control-label">备注</label>
                                        <div class="col-sm-9">
                                            <textarea type="text" class="form-control" name="remark" id="remark"
                                                   placeholder=""></textarea>
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="tab-pane fade" id="contactInfo">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <br/>
                                        <label for="material_name" class="col-sm-3 control-label">联系人</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="contact"
                                                   id="contact" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="supplier_class" class="col-sm-3 control-label">职位</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="position"
                                                   id="position" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="supplier_class" class="col-sm-3 control-label">手机</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="telephone"
                                                      id="telephone" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="supplier_class" class="col-sm-3 control-label">固定电话</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="landline"
                                                   id="landline" placeholder="">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="supplier_class" class="col-sm-3 control-label">传真</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" name="fax"
                                                   id="fax" placeholder="">
                                        </div>
                                    </div>

                                </form>
                            </div>


                    </div>

                </div>

            </div>

        </div>
    </div>
    </div>
{% endblock body %}
