{% extends "base.html" %} {% block title %} 查看U8编码 {% endblock%} {% block body %} {{ block.super }} {% load el_pagination_tags %}
<style>
    .wrap {
        margin: 0px auto;
    }
</style>
{% load staticfiles %}
<script src="{% static 'js/jquery.ui.datepicker-zh-CN.js' %}  "></script>

<script src="{% static 'js/bootstrap-table-filter-control.js' %}  "></script>

<link rel="stylesheet" href="{% static 'CSS/jquery-ui.min.css' %}">

<script src="{% static 'js/jquery-ui.min.js' %}  "></script>

<!--日期选择器-->
<script>
    $(function() {
        $("#start_date").datepicker();
        $("#end_date").datepicker();
        var val = 'yy-mm-dd';
        $("#start_date").datepicker("option", "dateFormat", val);
        $("#end_date").datepicker("option", "dateFormat", val);
    });
</script>


<script>
    var $table = $('#table');
    $(function() {
        $('#toolbar').find('select').change(function() {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    })
</script>
<script>
    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function(key, value) {
            if (key.substring(0, 1) != "_") {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>');
            }
        });
        return html.join('');
    }
</script>


<div class="container wrap" style='{margin:0 auto} '>
    <div class="page-header" align="center">
    <h1>查看u8编码</h1>
       </div>
    <form method="post" action="">


        <div class="form-group col-xs-12">
            <label for="start_date" class="col-xs-3 control-label">提交日期(不输入则取当前日期)</label>
            <div class="col-xs-2">
                <input type="text" class="form-control" name="start_date" id="start_date" placeholder="起始日期">

            </div>

            <div class="col-xs-2">
                <input type="text" class="form-control" name="end_date" id="end_date" placeholder="结束日期">
            </div>
            <input class="btn btn-default" value=" 筛选 " type="submit">
        </div>

    </form>

    <HR style="border:3 double #987cb9" width="95%" color=#987cb9 SIZE=3>


    <div id="toolbar">
        <select class="form-control">
    <option value="">默认导出</option>
    <option value="all">导出所有</option>
    <option value="selected">导出勾选的项</option>
  </select>
    </div>

    <table id="table" data-toggle="table" data-toolbar="#toolbar" data-show-export="true" data-search="true" data-filter-control="true" data-show-columns="true" data-show-multi-sort="true" data-sort-priority='[{"sortName": "github.count.forks","sortOrder":"desc"},{"sortName":"github.count.stargazers","sortOrder":"desc"}]'
        data-show-pagination-switch="true" data-pagination="true" data-page-size="10" data-page-list="[10,20,50]" data-detail-view="true" data-detail-formatter="detailFormatter">
        <thead>
            <tr class='primary'>
                <th data-field="state" data-checkbox="true"></th>
                <th data-sortable="true">U8编号</th>
                <!-- <th >申请人</th> -->
                <th data-sortable="true">申请时间</th>
                <th>账套</th>
                <th data-sortable="true">物资类别</th>
                <th data-sortable="true">物资名称</th>
                <th>品牌</th>
                <th>规格型号</th>
                <th data-sortable="true">计量单位</th>
                <th>数量</th>
                <th>备注</th>
                <th data-sortable="true">需求部门</th>
                <th>设备名称</th>
                <th>设备型号</th>
                <th>设备厂家</th>
                <th>等级</th>
                <th>厂家</th>

            </tr>
        </thead>
        <tbody>
            {%for k in b%}
            <tr>
                <td></td>

                <td>{{k.U8code}}</td>
                <!-- <td>{{k.applicant}}</td> -->
                <td>{{k.application_time|date:"Y-m-d"}}</td>
                <td>{{k.accounts_set}}</td>
                <td>{{k.material_category}}</td>
                <td>{{k.material_name}}</td>
                <td>{{k.brand}}</td>
                <td>{{k.model}}</td>
                <td>{{k.unit}}</td>
                <td>{{k.number}}</td>
                <td>{{k.remark}}</td>
                <td>{{k.demand_department}}</td>
                <td>{{k.equipment_name}}</td>
                <td>{{k.equipment_model}}</td>
                <td>{{k.manufacturers}}</td>
                <td>{{k.grade}}</td>
                <td>{{k.vender}}</td>
            </tr>
            {%endfor%}

        </tbody>
    </table>

</div>


{% endblock body %}
