 {% extends "base.html" %} {% block title %} 上传文件 {% endblock%} {% block body %} {{ block.super }} {% load bootstrap3 %}
<style>
    .wrap {
        margin: 0px auto;
    }
</style>

<div class="container wrap" style=' '>
    <div class="page-header" align="center">
        <h1>上传文件 <small></small></h1>
    </div>

    <div class="panel panel-default  dl-horizontal">
        <!-- Default panel contents -->
        <div class="panel-heading">注意事项</div>
        <div class="panel-body">
            <dl>
                <dt>上传说明</dt>
                <div>
                    <dd class=" alert   ">
                        <p>1.下载导入模板:&nbsp&nbsp&nbsp<font color="red"><a href='/stockCode/downloadModel/'>V3版（2016-12-12）</a></font></p>
 
                        <p>2.服务器需要几秒钟上传保存和解析文件，开启了调试模式，如果有异常文字出现，请截图后通知管理员</p>
                        <p>3.当前只接收 009 012 100 901 905账套的新增申请，直接将账套名写在账套列即可，其他账套请先提醒管理员</p>
                         <p>4.</p>

                    </dd>
                </div>

            </dl>
            <dl>
                <dt>补充说明</dt>
                <dd>
                    <p>
                        <div class="alert" role="alert"> 1.添加编码时间为每天的<code>12:00</code>及<code>15:00。</code></p>
                        <p> 2.如果在任意帐套中已有编码的物资不要走新增编码流程，直接腾讯通告知，不要上传</p>
                        </div></dd>
                    
                </dd>
                <dd>
                    <form method="post" id='form1' enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name='randomInt' value={{randomInt}}> {% bootstrap_form form layout='inline' %} {% buttons %}
                        <button id='submitButton' class="btn btn-info">
                  上传
                </button> {% endbuttons %}
                    </form>
                </dd>
            </dl>
        </div>
    </div>
    <script>
        var oBtn = document.getElementById('submitButton');
        oBtn.onclick = function() {
            //alert('提交中，请勿重复提交');
            document.forms['form1'].submit();
            oBtn.disabled = true;
        };
    </script>
</div>
{% endblock body %}