{% extends "base.html" %} {% block body %} {{ block.super }} {% load bootstrap3 %}


<div class="container">
    <div class="row">
        <div class="col-xs4">
            <h2>功能说明:</h2>
            <ol>
                <li>收集新增U8编码---->审核新增编码----->添加U8编码----->查询编码</li>
  
                <li>查询供应商信息---->修改供应商信息----->登记备选供应商</li> 
              

              <li>新增关键事项---->修改关键事项----->打印关键事项----->查询关键事项</li>
            </ol>
            </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs4">
            <h2>PS:</h2>
            <ol>  
                <li>
                    推荐使用以下浏览器,并切换到高速内核
                    <ul>                       
                        <li> <a href="ftp://192.168.8.179/WebAttachment/UCBrowser_V6.0.1121.207.exe">1.UC浏览器</a>
                        </li>
                        <li><a href="ftp://192.168.8.179/WebAttachment/360jsllq_9122.exe">2.360急速浏览器</a>
                        </li>                        
                    </ul>

                </li>
            </ol>

        </div>


    </div>
</div>

{% endblock body %}
